/BuscaMinas/nbproject/private/
/BuscaMinas/build/
/CalificacionesEstudiantes/nbproject/private/
/repasoPromedio/nbproject/private/
/repasoPromedio/dist/
/ListaMVC/dist/
/CalificacionesEstudiantes/build/
